* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(60deg, rgb(29, 61, 31), rgb(8, 219, 36), rgb(5, 78, 2)) no-repeat;
    color: rgb(153, 224, 158);
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
}

header, footer {
    background: rgb(29, 61, 31);
    width: 40vh;
    height: 40vh;
    transform: rotate(45deg);
    position: fixed;
}

header {
    top: -20vh;
    left: -20vh;
}

footer {
    bottom: -20vh;
    right: -20vh;
}

footer > p {
    position: fixed;
    bottom: 15vh;
    left: 5vh;
    transform: rotate(-45deg);
}


h1 {
    transform: rotate(-45deg);
    position: fixed;
    top: 8vh;
    font-family: 'Mukta', sans-serif;
    color: #BB0766;
}

form {
    margin: 30vh auto;
    width: 50vw;
    text-align: center;
}

input, label {
    display: block;
}

label, button {
    padding: 10px;
}

label {
    margin: 0.2vh auto;
    width: 100%;
color: rgb(29, 61, 31);
}

button {
    border-radius: 5px;
    background: #D65398;
    color:rgb(248, 214, 232);
    border: 2px solid rgb(248, 214, 232);
    margin: 10vh;
}

input, select {
    background: rgb(153, 224, 158);
    color: rgb(29, 61, 31);
    border-radius: 5px;
    margin: 0.2vh auto;
    padding: 1vh;
    width: 50%;
    border: none;
}

p {
    text-align: center;
}